/* SETUP */

:root {
    --light-blue: #3F9EEA;
    --medium-blue: #0053A5;
    --dark-blue: #003467;
    
    --orange: #F65117;
    --dark-orange: #BD3100;
    --yellow: #FFD900;
    --red: #C1272D;

    --teal: #04BFBF;
    
    --light-gray: #EBEBEB;
    --gray: #777777;
    --dark-gray: #404040;
    --medium-gray: #AAAAAA;

    --serif: 'Source Serif Pro', serif;
    --sans: 'Source Sans Pro', sans-serif;

    --gap: 15px;
}

::selection {
    background-color: var(--light-blue);
    color: white;
}

i.material-icons {
    user-select: none;
}

.ripple {
    transition: all 0.2s;
}

.ripple-wrapper {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='isolation:isolate' viewBox='529 294 243 243'%3E%3Ccircle cx='650.5' cy='415.5' r='121.5' fill='%23EBEBEB'/%3E%3C/svg%3E");
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
}

html {
    background-color: var(--light-gray);
}

body {
    margin: 0;
    overscroll-behavior: none;
    min-height: 100vh;
}

.main-content {
    max-width: 375px;
    background-color: white;
    margin: 0 auto;
}

@media all and (max-width: 500px) {
    .main-content {
        max-width: none;
        width: 100%;
    }
}

.main-content > .app-screen > * {
    padding: var(--gap);
}

.app-screen {
    display: none;
}

.app-screen.active-screen {
    display: initial;
}

h1,
p, p > a,
ul, ol, li, li > a,
em, strong, a {
    font-family: var(--serif);
}

h2, h3, h4, h5, h6,
span, span > a {
    font-family: var(--sans);
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255, 0);
}

p > a,
.post-content a {
    box-shadow: inset 0px -3px 0px 0px rgba(0, 142, 255, 0.8);
    transition: background 0.2s;
}

p > a:hover,
.post-content a:hover {
    background: rgba(0, 142, 255, 0.2);
}

span > a {
    transition: color 0.2s;
}

span > a:hover {
    color: var(--light-blue);
}

/* APP HEADER */

.app-header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px var(--gap);
    background-color: var(--light-blue);
}

.app-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 999;
}

.above-header > img {
    width: 100%;
    display: block;
}

.header-right {
    width: 32px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-left {
    width: 50%;
}

.logo {
    width: 100%;
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
}

.search-form {
    width: 100%;
    display: none;
    background-color: white;
}

.search-form > form {
    display: flex;
    padding: var(--gap);
    color: var(--gray);
}

.search-form .search-input {
    width: 100%;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    font-family: var(--sans);
    outline: none;
}

.search-form button {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--gray);
}

/* APP BOTTOM BAR */

.app-bottom-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--gap);
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px 1px rgba(0, 0, 0, 0.06);
    padding: 0;
}

.bottom-bar-item {
    text-align: center;
    cursor: pointer;
    padding: var(--gap);
}

.bottom-bar-item.active-page > i {
    color: var(--light-blue);
}

.bottom-bar-item > i {
    display: block;
}

.bottom-bar-item > span {
    display: block;
    font-size: 13px;
    color: var(--gray);
    display: none;
}

/* POST LISTING */

.post-title {
    font-size: 22px;
    margin: 0;
    transition: color 0.2s;
}

.post-title:hover {
    color: var(--dark-gray);
}

.post {
    padding-bottom: var(--gap);
    border-bottom: solid 1px var(--light-gray);
}

.post:last-child {
    border-bottom: none;
}

.post-top,
.post-bottom,
.post-bottom > .comment-count {
    display: flex;
    align-items: center;
}

.post-bottom > .post-byline,
.post-bottom > .comment-count {
    width: 50%;
}

.post-top > .location {
    text-transform: uppercase;
    color: var(--gray);
    display: flex;
    align-items: center;
    width: 100%;
}

.post-top > .location > i {
    font-size: 18px;
    margin-right: 5px;
}

.post-top > .date {
    text-align: right;
    color: var(--medium-gray);
    white-space: nowrap;
}

.post-image {
    width: 100%;
    user-select: none;
}

.post-byline,
.post-byline > a {
    font-family: var(--serif);
}

.post-middle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: var(--gap);
    align-items: center;
    margin: var(--gap) 0;
}

.post-bottom > .comment-count {
    margin-left: auto;
    width: fit-content;
}

.post-bottom > .comment-count > i {
    font-size: 20px;
    margin-right: 7px;
    transition: color 0.2s;
}

.post-bottom > .comment-count:hover > i {
    color: var(--light-blue);
}

/* POST TEMPLATE */

.post-content > p,
.post-content ul,
.post-content li,
.post-content ol {
    font-size: 17px;
}

.post-template figure > a {
    box-shadow: none!important;
    pointer-events: none;
}

.post-template iframe {
    display: none;
}

.post-template iframe[allowfullscreen] {
    display: initial;
    width: 100%;
    height: 194px;
}

.post-template img {
    max-width: 100%;
    height: auto;
}

.post-template .wp-caption.alignnone {
    margin: 0;
}

.post-template .wp-caption-text {
    font-family: var(--sans);
    color: var(--gray);
    font-size: 14px;
    margin: 0 0 var(--gap) 0;
}

.post-template aside {
    background-color: var(--light-gray);
    padding: var(--gap);
    font-family: var(--sans);
}

.post-template aside figcaption.wp-caption-text {
    margin: 0;
}

.post-template blockquote {
    margin-left: calc(var(--gap) * 2);
    margin-right: 0;
}

.post-template .post-byline {
    font-family: var(--sans);
}

.post-template .post-date {
    color: var(--medium-gray);
}

.post-template .post-meta {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap);
}

.post-template .post-meta-left {
    display: flex;
    flex-direction: column;
    width: calc(100% - 99px);
}

.post-template .post-meta-right {
    display: flex;
    align-items: center;
}

.post-template .post-meta-right img {
    width: 30px;
    margin-left: 3px;
    cursor: pointer;
}

.post-template .post-title {
    margin-bottom: var(--gap);
}

.post-template .post-title:hover {
    color: black;
}

/* LOCAL DEALS */

.deal {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 0!important;
    cursor: pointer;
    user-select: none;
}

.deal-inner {
    padding: var(--gap);
}

/*
.deal-red, .deal-orange, .deal-blue, .deal-dark-blue, .deal-teal, .deal-white, .deal-gray
*/

.deal.deal-red .deal-inner {
    background: linear-gradient(to right, var(--red) 60%,rgba(255, 255, 255, 0) 150%);
}

.deal.deal-orange .deal-inner {
    background: linear-gradient(to right, var(--orange) 60%,rgba(255, 255, 255, 0) 150%);
}

.deal.deal-blue .deal-inner {
    background: linear-gradient(to right, var(--medium-blue) 60%,rgba(255, 255, 255, 0) 150%);
}

.deal.deal-dark-blue .deal-inner {
    background: linear-gradient(to right, var(--dark-blue) 60%,rgba(255, 255, 255, 0) 150%);
}

.deal.deal-teal .deal-inner {
    background: linear-gradient(to right, var(--teal) 60%,rgba(255, 255, 255, 0) 150%);
}

.deal.deal-gray .deal-inner {
    background: linear-gradient(to right, var(--light-gray) 60%,rgba(255, 255, 255, 0) 150%);
}

.deal.deal-white .deal-inner {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 60%,rgba(255, 255, 255, 0) 150%);
}

.deal-title,
.deal-location,
.deal-date {
    color: white;
}

.deal-location {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.deal.deal-gray .deal-title,
.deal.deal-gray .deal-location,
.deal.deal-gray .deal-date,
.deal.deal-white .deal-title,
.deal.deal-white .deal-location,
.deal.deal-white .deal-date {
    color: black;
}

.deal-text-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 140px;
}

.deal-title {
    line-height: 1.25em;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.deal-date {
    text-transform: uppercase;
}

/* DEAL TEMPLATE */

.deal-info {
    border-top: solid 1px var(--light-gray);
    padding: var(--gap) 0;
}

.deal-address {
    display: flex;
}

.deal-address-right {
    display: flex;
    flex-direction: column;
}

.deal-expires {
    text-transform: uppercase;
    color: var(--gray);
    margin-bottom: var(--gap);
    display: block;
}

.deal-template-inner[data-deal-color="red"] .deal-coupon {
    --deal-color: var(--red);
}
.deal-template-inner[data-deal-color="orange"] .deal-coupon {
    --deal-color: var(--orange);
}
.deal-template-inner[data-deal-color="blue"] .deal-coupon {
    --deal-color: var(--medium-blue);
}
.deal-template-inner[data-deal-color="dark-blue"] .deal-coupon {
    --deal-color: var(--dark-blue);
}
.deal-template-inner[data-deal-color="teal"] .deal-coupon {
    --deal-color: var(--teal);
}
.deal-template-inner[data-deal-color="white"] .deal-coupon {
    --deal-color: black;
}

.deal-coupon {
    border: dashed 5px var(--deal-color);
    margin: var(--gap);
    font-family: var(--sans);
    background-color: white;
    padding: 15px;
}

.deal-location-icon {
    color: var(--light-blue);
    margin-right: var(--gap);
}

.deal-venue {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.deal-venue:before {
    content: 'Available at';
    display: block;
    color: var(--gray);
}

.discount-title {
    font-size: 32px;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
}

.deal-template-inner {
    height: calc(100vh - 275px);
    background: linear-gradient(to bottom, white 80%,var(--light-gray) 100%)
}

/* FILTERS */

.filters {
    margin: calc(var(--gap) * -1);
    user-select: none;
}

.filter {
    padding: 0 7px;
    overflow: auto;
    white-space: nowrap;
    border-bottom: solid 1px var(--light-gray);
}

.filter::-webkit-scrollbar {
    display: none;
}

.filter-item {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    border-bottom: solid 3px white;
    transition: all 0.2s;
    color: var(--gray);
}

.filter-item.filter-item-active {
    border-bottom: solid 3px var(--light-blue);
    color: black;
}

.filter-text {
    text-transform: uppercase;
    margin-bottom: -3px;
    display: block;
}

/* SETTINGS */

.settings {
    user-select: none;
}

.settings select,
.settings input,
.settings button {
    padding: 10px 12px;
    font-family: var(--sans);
    font-size: 16px;
    width: -webkit-fill-available;
    border: solid 1px var(--medium-gray);
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: white;
    outline: none;
}

.settings input:focus {
    cursor: text;
}

.settings-newsletters {
    font-family: var(--sans);
    margin-bottom: 5px;
}

.settings-newsletters label {
    cursor: pointer;
}

.settings button {
    background-color: var(--light-blue);
    color: white;
    border: none;
}